<div class="content">
    <div class="header">
      <h1 class="title">Enter your email</h1>
     <!-- <img src="/assets/logomovieapp.png" alt="movie app Back" class="movie-image" /> -->
      <p class="subTitle">To receive a reset passoword link</p>
    </div>
  
    <form>
      <div class="form-container">
        <!-- Username Input -->
        <div class="input-signup">
          <label for="username">USERNAME</label>
          <div class="input-wrapper">
            <input id="username" type="text" placeholder="" class="input" />
            <i class="fas fa-user icon"></i>
          </div>
        </div>
  
        <!-- Email Input -->
        <div class="input-signup">
          <label for="email">EMAIL</label>
          <div class="input-wrapper">
            <input id="email" type="email" placeholder="" class="input" />
            <i class="fas fa-envelope icon"></i>
          </div>
          <input class="btn-solid" type="submit" value="SEND" />
        </div>
    </div>

    </form>
</div>
